.followCarrussel {
  z-index: 1;
  color: var(--dark-blue);
  padding: 0vh 4vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.avatarContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  animation: avatarContainer 30s linear infinite;
  gap: 5vh;
  animation-delay: 0s;
  background: none;
  z-index: 0;
}

.avatarImgContainer {
  width: 100%;
  max-width: 150vh;
  position: relative;
  height: auto;
}

.avatarImg {
  border-radius: 50%;
  position: relative;
  z-index: 1;

}

@keyframes avatarContainer {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

h3{
  margin: 1vh;
}